{% extends 'base.html.twig' %}

{% block body %}
     <div class="header">
        <a href="//sakh.com" >
            <img src="{{ asset('images/sakhcom_winter.png') }}">
        </a>
            <div class="header-right">
            {% if user != null %}
                    <div class="info-user">
                        Текущий баланс - {{ user.balance }}
                    </div>
                    <div class="info-user">
                        Текущий пользователь - {{ user.username }}
                    </div>
                    <a href="{{ path('fos_user_security_logout') }}">Выйти</a>
            {% else %}
                    <a href="{{ path('fos_user_registration_register') }}">Регистрация</a>
                    <a href="{{ path('fos_user_security_login') }}">Войти</a>
            {% endif %}
            </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-1">
                <div class="panel panel-success">

                    <h2 class="panel-heading ">Список пользователей</h2>

                    {% if user != null %}
                        <table class="table">
                            <tr>
                                <th>Имя</th>
                                <th>Баланс</th>
                                <th>Почта</th>
                                <th>Перевести</th>
                            </tr>

                            {% for value in users %}
                                <tr>
                                    <td>{{ value.username }}</td>
                                    <td>{{ value.balance }}</td>
                                    <td>{{ value.email }}</td>
                                    <td>
                                        <a href="{{ path('pull_balance', {'id': value.id}) }}">перевод</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}


                </div>

                {% if user == null %}
                    <a href="/login" class="btn btn-info"> Нужно быть залогининым, чтоб видеть список 😜😜 >></a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
