<div class="footer">
    <div class="container footer__menu-container">
        <div class="row">
            <div class="col-lg-3 col-md-5 footer__menu-item ">
                <div class="footer-menu">
                    <a href="{{ path('landing_index') }}" class="footer-menu__item">Главная</a>
                    <a href="/about" class="footer-menu__item">О компании</a>
                    <a href="/projects" class="footer-menu__item">Проекты</a>
                    <a href="/contacts" class="footer-menu__item">Контакты</a>
                    <a href="/news" class="footer-menu__item">Новости</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-5 offset-md-1  offset-xl-2 offset-lg-1 offset-lg-2 footer__menu-item">
                <div class="footer-menu">
                    <a href="/mortgage" class="footer-menu__item">Ипотека</a>
                    <a href="/realtor" class="footer-menu__item">Риэлторам</a>
                    <a href="{{ path('landing_construction_progress') }}" class="footer-menu__item">Ход строительства</a>
                    <a href="/company-strategy" class="footer-menu__item">Стратегия компании</a>
                    <a href="{{ path('landing_documentation') }}" class="footer-menu__item">Официальные сведения</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-5 offset-lg-1 footer__menu-item">
                <div class="footer-menu">
                    <a href="/tenders" class="footer-menu__item">Тендеры</a>
                    <a href="/job" class="footer-menu__item">Работа в нашем проекте</a>
                    <a href="/press" class="footer-menu__item">Для прессы</a>
                    <a href="/contacts" class="footer-menu__item">Контакты</a>
                    <a href="/mail" class="footer-menu__item">Почта</a>
                </div>

            </div>
        </div>

    </div>

    <div class="container footer__content-container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 footer__logo"></div>

            <div class="col-lg-2 col-md-12 offset-xl-2 offset-lg-1 social-links footer__social-links">
                <a class="social-links__item" href="#"><img src="{{ asset('assets/landing/img/social-icons/facebook.png') }}"></a>
                <a class="social-links__item" href="#"><img src="{{ asset('assets/landing/img/social-icons/noname.png') }}"></a>
                <a class="social-links__item" href="#"><img src="{{ asset('assets/landing/img/social-icons/insta.png') }}"></a>
                <a class="social-links__item" href="#"><img src="{{ asset('assets/landing/img/social-icons/youtube.png') }}"></a>
                <a class="social-links__item" href="#"><img src="{{ asset('assets/landing/img/social-icons/telegram.png') }}"></a>
            </div>
            <div class="col-lg-4 offset-xl-1 offset-lg-2 col-sm-6 footer__expil-logo"></div>
        </div>
    </div>
</div>